<!DOCTYP html>
<html>
        <haed>
                <titl> Резюме </title>
        </head>
               <h1> Сергийко Владимир Олегович </h1>
               <h2> Учился в школах №3,№85, №163, закончил школу №168</h2>
               <h3> закончил НЮАУ "специалист"</h3>
               <h4> проходил случбу в армии</h4>
               <h5> закончил ХГУ "специалист"</h5>
               <h6> посещал курсы и семинары</h5>
	       <p> Опыт работы, в целом очень разный но нельзя сказать что значительный, до определенного времени связан с комерческими банками </p>
               <p><img src="html.jpg" width="150" height="150"</p> 
               <i> В данный момент работаю инженером в ХКБМ </i>
               <b> Считаю себя человеком ответственным, обязательным и коммуникабельным </b>
               <br> Легко нахожу общий язык с людми, я не самый плохой командный игрок </br>
               <ul> Изучаю английский и польский языки, люблю читать </ul>
               <ol> вредных привычек не имею :) </ol>     
        </body> 
</html> 
